<!--
    Authors: Megan Bates, Elise Pickett, Steven Armstrong, Kayla Tansiongco, Laura Nielson, Autumn Eaton
    Purpose: Display the home page of the site.
-->
{% extends 'base.html' %}
{% load static %}
{% block content %}
            <div>
                <!-- class="col-lg-5" -->
                <!-- style="width:38%"-->
                <h1 class="font-weight-light" style="text-align:center; font-family:Arial Black;">Missing Persons</h1>
                <br>
                <p style="text-align:center; font-family:Arial;">Human trafficking is a modern-day form of slavery involving the illegal trade of people for exploitation or commercial gain.</p>
                <br>
                <p style="text-align:center; font-family:Arial;">Every year, millions of men, women, and children are trafficked in countries around the world, including the United States. It is estimated that human trafficking is a $32 billion per year industry, second only to drug trafficking as the most profitable form of transnational crime.</p>
                <br>
                <p style="text-align:center; font-family:Arial;">Human trafficking is a hidden crime, as victims rarely come forward to seek help because of language barriers, fear of the traffickers, and/or fear of law enforcement.</p>
                <p style="text-align:center; font-family:Arial;">Traffickers use force, fraud, or coercion to lure their victims and force them into labor or commercial sexual exploitation. They look for people who are vulnerable for a variety of reasons, including economic hardship, natural disasters, or political instability. The trauma can be so great that many may not identify themselves as victims or ask for help, even in highly public settings.</p>
                <div style="text-align:center;">
                    <a class="btn btn-primary" href="/database">View Missing Persons</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body">
                    <p class="text-white m-0" style="font-size:20px">To get help or make a report, contact the National Human Trafficking Hotline: 1-888-373-7999</p>
                    <p class="text-white m-0" style="font-size:20px">For more services, visit <a class="text-white m-0" href="https://humantraffickinghotline.org" target="_blank">humantraffickinghotline.org</a></p>
                </div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title" style="font-family:Arial Rounded MT Bold; text-align:center;">Utah Attorney General</h2>
                            <p class="card-text" style="font-family:Arial; text-align:center;">See what the Attorney General has to say about these cases and access the contact information of his office.</p>
                        </div>
                        <div class="card-footer" style="text-align:center;"><a class="btn btn-primary btn-sm" href="https://attorneygeneral.utah.gov/initiatives/human-trafficking/" target="_blank">More Information</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title" style="font-family:Arial Rounded MT Bold; text-align:center;">BE THE ONE Initiative</h2>
                            <p class="card-text" style="font-family:Arial; text-align:center;">Be the one to learn, recognize, report, support, and take action on human trafficking.</p>
                        </div>
                        <div class="card-footer" style="text-align:center;"><a class="btn btn-primary btn-sm" href="https://www.rideuta.com/news/2021/01/Human-Trafficking#:~:text=BE%20THE%20ONE%20to%20SUPPORT%20victims%20of%20human%20trafficking.&text=victims%20to%20services%3A-,Contact%20the%20National%20Human%20Trafficking%20Hotline%20at%20888%2D373%2D7888,%40aau%2Dslc.org%20" target = "_blank">More Information</a></div>
                    </div>
                </div>  
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title" style="font-family:Arial Rounded MT Bold; text-align: center;">Access a Hotline</h2>
                            <br>
                            <p class="card-text" style="font-family:Arial; text-align:center;">Get the help these people need through contact information for the Utah Human Trafficking Hotline.</p>
                        </div>
                        <div class="card-footer" style="text-align:center;"><a class="btn btn-primary btn-sm" href="https://humantraffickinghotline.org/en/statistics/utah" target="_blank">More Information</a></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
