{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7" style="height:400px; width:38%; overflow:auto;">
            <h1 class="font-weight-light">Search for an Individual</h1>
            <p>Put name here</p>
            <a class="btn btn-primary" href="#!">Call to Action!</a>
        </div>
        <div class="col-lg-5" style="width:62%">
            <h3 style="align-items: center;">Individual Data:</h3>
            <p>Name:</p>
            <p>Date Missing:</p>
            <br>
            <p><strong>Description:</strong></p>
            <p>Age at Missing:</p>
            <p>Gender:</p>
            <p>Race:</p>
            <p>Gender:</p>
            <br>
            <p><strong>Location:</strong></p>
            <p>State:</p>
            <p>City:</p>
        </div>
    </div>
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0" style="font-size:20px">To get help or make a report, contact the National Human Trafficking Hotline: 1-888-373-7999</p>
                <p class="text-white m-0" style="font-size:20px">For more services, visit <a class="text-white m-0" href="https://humantraffickinghotline.org" target="_blank">humantraffickinghotline.org</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}