{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5" style="width:62%">
            <h3 style="align-items: center;">Individual Data:</h3>
            <table>
                <thead>
                    <tr>
                        <th >Last Name</th>
                        <th >First Name</th> 
                        <th ></th>              
                    </tr>     
                </thead>
                <tbody>       
                    {% for person in data %}
                    <tr>            
                        <td >{{person.last_name }}</td>
                        <td >{{person.first_name }}</td>      
                        <td ><a href="{% url 'displayIndividual' id=person.id %}">Details</a></td>                                         
                    </tr>
                    {% endfor %}    
                </tbody>
            </table>
    
        </div>
    </div>
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0" style="font-size:20px">To get help or make a report, contact the National Human Trafficking Hotline: 1-888-373-7999</p>
                <p class="text-white m-0" style="font-size:20px">For more services, visit <a class="text-white m-0" href="https://humantraffickinghotline.org" target="_blank">humantraffickinghotline.org</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}